@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: "Raleway", sans-serif; 
  background-color: #F5F8FF; 
}

.logo{
font-family: "Inter", sans-serif;
}
.primary-btn{
    background-color: blue;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    padding: 12px 36px;
    border-radius: 10px;
    text-decoration: none;
    border: none;

}
.primary-btn:hover{
    background-color: tomato;
    color: black;
    transition: .3s;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
/* header css */
.header{
    background-image: url('../img/Hero-bg.png');
    padding-bottom: 130px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
    padding: 50px 0px;
}

nav h3{
    font-size: 50px;
    color: blue;
    font-weight: bold;
}

/* banner css */


.banner-content{
    text-align: center;
    
   
}

.banner-content h1{
    font-size: 65px;    
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    margin: 0px 250px;
    padding: 30px;
    margin-top: 158px;

}



/* action section css */

.action-section{
    display: flex;
    gap: 220px;
    align-items: center;
    margin: 115px 0px;
}

.action-section-content h3{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 23px;
    font-size: 42px;
}
.action-section-content p{
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 23px;
}

.action-section-image img{
    border-radius: 30px;
}


/* counting section css */

.counting-section{
    text-align: center;
    background-color: rgba(78, 71, 255, 0.1);
    padding: 50px 80px;
    border-radius: 24px;
    
}

.coutning-section-title{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 40px;
}
.couting-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.counting-item h3{
    font-size: 80px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    color: blue;

}
.counting-item p{
    font-size: 20px;
    font-family: "Inter", sans-serif;

}

/* user feadback section css */
.user-feedback-section{
    margin: 130px 0px;
}
.feedback-section-title{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;

}
.user-rating-card{
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    padding: 20px;
    border-radius: 10px;
}

.user-rating-icon{
    margin-bottom: 24px;                       ;
}
.user-rating-card p{
    margin-top: 8px;
    margin-bottom: 24px;
}
.user-info img{
    border-radius: 50px;
    margin-right: 6px;
}
.user-content{
    display: flex;
    gap: 20px;
   
    
    
}
.user-info{
    display: flex;
}






/* focus section css */

.focus-section{
    text-align: center;
    background-color: white;
    border-radius: 14px;
    margin-bottom: 70px;
    padding: 70px 150px;
}
.focus-section h3{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 14px;
}

.focus-section p{
    margin-bottom: 30px;
}
.focus-section img{
    border-radius: 30px;
    margin-top: 30px;
}


/* contact area css */

.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: auto;
  border-radius: 10px;
  gap: 50px;
  padding: 70px 0px;
}

.contact-left {
  flex: 1;
  padding-right: 0px;
}

.contact-left h1 {
  font-size: 90px;
  font-weight: 700;
  color: #111;
  line-height: 1.2;
}

.contact-right {
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;

}

form label {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 500;
}

form input,
form textarea {
  padding: 20px;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  border: none;
}

form a {
  margin-top: 20px;
  padding: 14px;
  background-color: #4c57f0;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  transition: .3s;
}

form a:hover {
  background-color: tomato;
}


/* footer-css */
footer{
    background-color: white;
    text-align: center;
    padding: 120px 0px;
    
    
}
.footer-content{
    margin: 0px 310px;
}
.footer-logo h3{
   color: blue;
   font-size: 50px;
   font-weight: bold;
   margin-bottom: 10px;
   font-family: "Inter", sans-serif;


}
.footer-content ul{
   display: flex;
   justify-content: center;
    
   
   
}
.footer-content ul li{
list-style: none;
margin: 20px;

}

.footer-content ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #8987A1;
   
}