@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
  font-family: "Raleway", sans-serif;  
}

.logo{
font-family: "Inter", sans-serif;
}
.primary-btn{
    background-color: blue;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    padding: 12px 36px;
    border-radius: 5px;
    text-decoration: none;
    border: none;

}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
/* header css */
.header{
    background-image: url('../img/Hero-bg.png');
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
    padding: 50px 0px;
}

nav h3{
    font-size: 50px;
    color: blue;
    font-weight: bold;
}

/* banner css */


.banner-content{
    text-align: center;
   
}

.banner-content h1{
    font-size: 65px;    
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    margin: 0px 250px;
    padding: 30px;
    margin-top: 158px;

}
.banner-content button{
    margin-bottom: 150px;
}


/* action section css */

.action-section{
    display: flex;
    gap: 220px;
    align-items: center;
    margin: 115px 0px;
}

.action-section-content h3{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 23px;
    font-size: 42px;
}
.action-section-content p{
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 23px;
}

.action-section-image img{
    border-radius: 30px;
}